<div class="modal fade" tabindex="-1" id="{{id}}" aria-labelledby="{{id}}Label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-dark text-white">
				<h5 class="modal-title" id="{{id}}Label">
					{{title}}
				</h5>
				{% include "components/Button.twig" with{
					buttonAttributes: {
                    type : 'button',
                    class: 'btn-close',
					'data-bs-dismiss': 'modal',
					'aria-label': 'close'
					}
                } %}
			</div>
			<div class="modal-body text-dark">
				{{modal_content}}
			</div>
			{% if buttonText1 %}
				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-dark">{{ buttonText1 }}</button>
				</div>
			{% endif %}
		</div>
	</div>
</div>
